@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-it.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-ltit.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/Fontspring-DEMO-theseasons-bdit.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 bg-[#c7dbc7];
    font-family: "TheSeasons", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "TheSeasons", serif;
    @apply font-bold;
  }
}
